*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: $light-grey;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}
