@mixin pageLayout {
  background-color: $dark-blue;
  flex: 0 0 75%;
  padding: $xl-spacing $m-spacing $m-spacing $m-spacing;
}

@mixin inputStyle {
  background-color: $dark-navy-blue;
  color: $light-purple;
  font-size: 2.5rem;
  padding: $s-spacing;
  outline: none;
  border: none;
}

@mixin centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}
