// colors
$navy-blue: #243a66;
$blue: #0a0f2a;
$dark-blue: #0a1023;
$light-grey: #868890;
$light-green: #55efc4;

// layout
$grid-width: 114rem;

// spacing
$s-spacing: 2rem;
$m-spacing: 4rem;
$l-spacing: 6rem;
$xl-spacing: 8rem;
