.contact {
  @include pageLayout;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include setBreakPoints(700) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__container {
    .social-links {
      &__icon {
        height: 4rem;
        width: 4rem;
        margin-bottom: $s-spacing;
      }
    }
  }
}
