.technologies {
  @include pageLayout;
  overflow: auto;

  &__main-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container-one,
  &__container-two {
    display: flex;
    flex-direction: column;

    @include setBreakPoints(850) {
      flex: 0 0 100%;
      align-items: center;
    }
  }

  &__container-two {
    margin-left: 16rem;

    @include setBreakPoints(900) {
      margin-left: 10rem;
    }

    @include setBreakPoints(850) {
      margin: 0;
    }
  }

  &__icon-container {
    margin-top: $l-spacing;

    display: flex;
    justify-content: space-between;

    @include setBreakPoints(850) {
      width: 70%;
    }

    @include setBreakPoints(700) {
      width: 100%;
    }

    @include setBreakPoints(550) {
      width: 90%;
    }

    @include setBreakPoints(425) {
      width: 100%;
    }

    & div {
      border-radius: 10rem;
      height: 12rem;
      position: relative;
      width: 12rem;

      @include centerItems;

      @include setBreakPoints(350) {
        height: 10rem;
        width: 10rem;
      }

      &::after {
        border-radius: 10rem;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $purple;
        opacity: 0.3;
      }
    }
  }
}
