.email-status {
  @include centerItems;
  height: 100%;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }

  &__message-container {
    background-color: $navy-blue;
    color: #fff;
    height: 25rem;
    width: 25%;
    @include centerItems;
    flex-direction: column;
    z-index: 1;
  }

  &__message {
    margin-bottom: $s-spacing;
  }
}
