.email-status {
  background-color: $navy-blue;
  color: #fff;
  height: 25rem;
  width: 40rem;
  @include centerItems;
  flex-direction: column;
  z-index: 1;

  @include setBreakPoints(425) {
    height: 20rem;
    width: 30rem;
  }

  &:focus {
    outline: none;
  }

  &__message {
    margin-bottom: $s-spacing;
  }
}
