.project-info {
  color: $light-grey;
  height: 100vh;
  background-color: $berry-pink;
  height: 90vh;
  margin: 0 auto;
  overflow-y: auto;
  width: 90rem;
  padding: $m-spacing;

  @include setBreakPoints(1000) {
    width: 100%;
    height: 100vh;
  }

  @include setBreakPoints(550) {
    padding: $m-spacing $s-spacing $s-spacing $s-spacing;
  }

  &:focus {
    outline: none;
  }

  &__exit-icon-container {
    text-align: right;

    @include setBreakPoints(550) {
      text-align: left;
    }

    & div {
      height: 4rem;
      display: inline-block;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__heading-container {
    text-align: center;
  }

  &__content {
    & > * {
      margin-top: $m-spacing;
    }
  }

  &__description,
  &__features {
    margin-top: 0.5rem;
  }

  &__features,
  &__technologies {
    list-style: none;
  }

  &__features {
    & li {
      display: flex;
      align-items: center;
    }
  }

  &__technologies {
    & li {
      background-color: $light-green;
      border: 1px solid $light-grey;
      border-radius: 1rem;
      display: inline-block;
      padding: 0.2rem 1rem;
      margin-top: $s-spacing;

      &:not(:last-child) {
        margin-right: $s-spacing;
      }
    }
  }

  &__example-video-container {
    background-color: black;
    height: 40rem;
    width: 100%;

    @include setBreakPoints(750) {
      height: 35rem;
    }

    @include setBreakPoints(550) {
      height: 25rem;
    }

    @include setBreakPoints(350) {
      height: 20rem;
    }
  }

  &__example-links {
    margin-bottom: 1rem;

    display: flex;
    justify-content: flex-end;
  }

  &__example-link-container {
    color: $light-green;

    display: flex;
    align-items: center;
    fill: $light-green;

    @media (hover: hover) {
      &:hover {
        color: darken($light-green, 35%);
        cursor: pointer;
        fill: darken($light-green, 35%);
      }
    }

    &:first-child {
      margin-right: $s-spacing;
    }
  }

  &__example-link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}
