.contact-form {
  & > * {
    width: 100%;
  }

  &__container-one {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex: 1;

      @include setBreakPoints(800) {
        flex: 0 0 100%;
      }

      &:last-child {
        margin-left: $m-spacing;

        @include setBreakPoints(800) {
          margin: $m-spacing 0 0 0;
        }
      }
    }

    & input {
      display: block;
      height: 6rem;
      width: 100%;
      @include inputStyle;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 100px $dark-navy-blue inset;
        -webkit-text-fill-color: $light-purple;
      }
    }
  }

  &__field-container,
  &__container-two {
    position: relative;
  }

  &__container-two {
    height: 25rem;

    & textarea {
      font-family: inherit;
      height: 100%;
      resize: none;
      width: 100%;
      @include inputStyle;
    }
  }

  &__container-three {
    display: flex;
    justify-content: space-between;

    div {
      color: $light-green;
      fill: $light-green;
      flex: 0 0 50%;

      display: flex;
      align-items: center;

      @media (hover: hover) {
        &:hover {
          color: darken($light-green, 35%);
          cursor: pointer;
          fill: darken($light-green, 35%);
        }
      }
    }
  }

  &__container-two,
  &__container-three {
    margin-top: $m-spacing;
  }

  &__error-message {
    position: absolute;
    color: red;

    &--text-area {
      top: 25rem;
    }
  }

  &__resume {
    color: inherit;
    display: inline-block;
  }
}
