.heading-one {
  font-weight: 100;

  &__primary {
    font-size: 8rem;
    display: block;
  }

  &__secondary {
    color: $light-green;
    font-size: 4rem;
  }
}

.heading-two {
  border-bottom: 2px solid $light-green;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: $m-spacing;
}

.heading-three {
  font-weight: 100;
  color: #fff;
  margin-top: 3rem;
}
