.heading-one {
  font-weight: 100;

  &__primary {
    font-size: 8rem;
    display: block;
  }

  &__secondary {
    color: $light-green;
    font-size: 4rem;
  }
}

.heading-two,
.heading-three,
.heading-four {
  color: #fff;
  font-weight: 100;
}

.heading-two {
  border-bottom: 2px solid $light-green;
  display: inline-block;
  font-size: 5rem;
  margin-bottom: $m-spacing;
}

.heading-three {
  margin-top: 3.5rem;
  font-size: 3rem;

  &--project-info {
    border-bottom: 2px solid $light-green;
    display: inline-block;
  }
}

.heading-four {
  font-size: 2.2rem;
}
