.hamgburger-menu-icon,
.exit-icon {
  fill: $light-green;
  height: 4rem;
  width: 4rem;
}

.right-arrow-icon,
.right-arrow-box-icon,
.right-arrow-round-icon,
.resume-icon {
  fill: $light-green;
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.resume-icon {
  height: 5rem;
  width: 5rem;
  fill: inherit;
}

.right-arrow-icon {
  display: inline;
  vertical-align: middle;
}

.right-arrow-round-icon {
  height: 4rem;
  width: 4rem;
}

.right-arrow-box-icon {
  fill: inherit;
}
