.social-links {
  @include setBreakPoints(550) {
    text-align: center;
  }

  & a {
    &:not(:first-child) {
      margin-left: $s-spacing;
    }
  }

  &__icon {
    fill: $light-grey;
    height: 2.5rem;
    width: 2.5rem;

    @include setBreakPoints(550) {
      height: 5rem;
      width: 5rem;
    }

    @include setBreakPoints(350) {
      height: 4rem;
      width: 4rem;
    }

    &:hover {
      fill: lighten($light-grey, 35%);
    }
  }
}
